@font-face{
	font-family: 'Wisdom Script';
	src: url('font/wisdom_script_ai.otf') format('opentype');
}
/****** BASE STYLES ******/
body{
	font-family: 'Montserrat', sans-serif, bold;
}
#about, #menu, #locations, #reviews, #contact{
	height: 500px;
}
/***** GRID *****/
.full-width{
	width: 1200px;
	margin: 0 auto;
}
.third-width{
	width: 600px;
	float:left;
}
/***** HEADER *****/
header{
	height:100px; 
}
header h1{
	padding: 20px 0;
	font-family: 'Montserrat', sans-serif, bold;
	color: #000000;
	font-size: 30px;
	float:left;
	text-transform: uppercase;
}
header h1 span{
	color:#77a466;
}
nav{
	float:right;
	padding: 20px 10px;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	text-transform: uppercase;
	text-decoration:none;
	font-size: 15px;
	line-height: 16px;
	color:#77a466;
	padding-left: 20px;
}
/***** ABOUT *****/
#about .full-width{
	padding: 20px 0px;
}
#about h2 {
	font-family: 'Montserrat', sans-serif, bold;
	font-size: 22px;
	text-transform: uppercase;
	color:#77a466;
}
#about p{
	font-family: 'Montserrat', sans-serif, bold;
	font-size: 16px;
	color: #000000;
	line-height: 25px;
	padding-right: 50px;
	padding-bottom: 30px;
	border-bottom: 1px solid #dedbdc;
}
#photo{
	border-top:5px solid #77a466;
	border-bottom:5px solid #77a466;
}
/***** MIDDLE *****/
#content .third-width{
  width: 33%;
  padding: 10px 0px;
  height: auto;
  float: left;
}

#content h3{
  padding: 10px 30px;
  text-align: justify;
  
}

#menu {
	border-right:1px solid #dedbdc;
	text-align: justify;
  	padding: 0px 30px;
}
#menu p{
	font-family: 'Montserrat', sans-serif, bold;
	font-size: 14px;
	text-transform: uppercase;
	color:#77a466;
  	padding: 0px 30px;
}
#review{ 
	border-right:1px solid #dedbdc;
	 }
#reviews p {
	text-align: justify;
 	padding: 0px 30px;
}
#locations p {
	text-align: justify;
  	padding: 0px 30px;
}

/*****Footer*****/
footer {
	width: 100%; 
	height: 50px; 
	border-top: 3px solid #eeeeee; 
	margin: 0 auto; 
	clear: both; 
	text-align: center;
}

footer span {
	font-family: "Wisdom Script", script; 
	text-transform: lowercase; 
	color: #77a466; 
	font-size: 30px;
}
